/* Accounts */
.accounts {
    background: radial-gradient(white, pink);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.col-2 {
    flex-basis: 50%;
}

.col-2 img {
    max-width: 100%;
    padding: 50px;
}

.form-box {
    width: 350px;
    height: 450px;
    margin: 5% auto;
    background: #fff;
    box-shadow: 5px 9px 15px 2px rgb(56, 53, 53);
    overflow: hidden;
    position: relative;
}

.buttonfield {
    width: 100%;
    height: 50px;
    margin: 10px auto 5px auto;
}

#logregbtn {
    background: transparent;
    font-size: medium;
    font-weight: bold;
    border: none;
    margin: 5px 26px;
    padding: 10px 30px;
    outline: none;

    cursor: pointer;
}

#toggle-line {
    width: 170px;
    height: 5px;
    background-color: var(--theme-secondary);
    border: none;
    border-radius: 30px;
    transition: transform 0.5s;
    /* transform: translateX(170px); */
}

.form-box form {
    max-width: 300px;
    margin: 0 auto;
    /* padding: 0 10px; */
    position: absolute;
    top: 120px;
    transition: transform 0.5s;
}

#Loginform {
    left: -340px;
}

#Registerform {
    position: absolute;
    left: 0px;
}

.inputfield {
    width: 300px;
    height: 275px;
}

.inputbox {
    width: 100%;
    height: 40px;
    margin: 10px 25px;
    outline: none;
    text-align: center;
}

.submit {
    width: 85%;
    height: 35px;
    margin: 22px 48px;
    background-color: var(--theme-secondary);
    color: white;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
}

.submit:hover {
    background-color: brown;
}

#forgot {
    text-decoration: none;
    color: black;
    margin-top: 10px;
    margin-left: 115px;
    font-size: small;
    cursor: pointer;
}

/* --------------------------------------------------------MEDIA QUERIES--------------------------------------------------------- */

@media (width<576px) {
    .col-2 {
        flex-basis: 100%;
    }

    .col-2 img {
        /* max-width: 350px;
        margin-top: 40px; */
        max-width: 350px;
        margin-top: 40px;
        padding: 15px;
    }

}