:root {
    --hue-color: 365;
    --theme-secondary: hsl(var(--hue-color), 69%, 61%);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* Navigation bar */
nav {
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

nav img {
    margin-left: 50px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0px 5px;
}

nav li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover,
a.active {
    color: var(--theme-secondary);
}

#carticon {
    width: 25px;
    margin-right: 5px;
}

nav #menu {
    font-size: 25px;
    display: none;
}

/* End of navigation bar */

/* Footer --------------------------------------*/
footer {
    background-color: black;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
}

footer h3 {
    padding: 10px 0;
}

footer p {
    padding: 10px 0;
}

.foot-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footcol-1,
.footcol-2,
.footcol-3,
.footcol-4 {
    /* padding: 15px;
    margin: 1px 25px; */
    min-width: 250px;
    margin-bottom: 10px;
}

.ftimg {
    width: 300px;
    margin: auto;
}

.ftimg img {
    width: 140px;
    height: 40px;
}

#footlogo {
    width: 165px;
    padding: 26px;
}

.footcol-3 li,
.footcol-4 li {
    list-style: none;
    margin-bottom: 5px;
}

.footcol-3 a,
.footcol-4 a {
    color: #fff;
    text-decoration: none;
    font-size: small;
}

/* End of links----------------- */

/* copyright -------------------*/
.foot-2 {
    width: 100%;
    margin-top: 5px;
    display: block;
}

.foot-2 hr {
    background-color: #fff;
    width: 85%;
    margin: auto;
}

.foot-2 a {
    color: #fff;
    text-decoration: none;
}

/* End of copyright ------------*/
/* End of Footer ------------------------------------*/

@media(width<576px) {
    header {
        padding: 0 10px;
    }

    /* Navigation ----------------------------------*/
    nav {
        flex-wrap: wrap;
    }

    nav ul {
        width: 100%;
        border-radius: 10px;
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
        background-color: black;
        overflow: hidden;
        transition: 0.3s;
    }

    nav ul li {
        display: block;
        margin: 15px 0;
        text-align: center;
    }

    nav ul li a {
        color: white;
    }

    nav #menu {
        display: block;
        cursor: pointer;
    }

    /* End of navbar -------------------------------*/
    /* Footer --------------------------------------*/

    .foot-1 {
        flex-direction: column;
    }

    .footcol-1,
    .footcol-2,
    .footcol-3,
    .footcol-4 {
        min-width: 250px;
        margin-bottom: 10px;
    }

    .ftimg img {
        width: 200px;
    }

    /* End of links----------------- */
    /* End of Footer ------------------------------------*/
}