/* Head */
.select-head {
    width: 100%;
    position: relative;
    top: 100px;
}

.head-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 230px;
}

/* End of head */

/* Product list */
.product-list {
    position: relative;
    top: 110px;
}

.row {
    display: flex;
    justify-content: center;
}

.col-4 {
    margin: 20px;
}

.col-4:hover {
    transform: translateY(-5px);
}

.col-4 img {
    width: 100%;
    height: 310px;
}

/* End of product list */

/* Pagination */
.next-page {
    display: flex;
    justify-content: flex-start;
    margin: 50px 0;
    padding-top: 40px;
}

.pagination {
    display: inline-block;
    padding: 40px 0px;
    margin-left: 233px;
}

.pagination a {
    padding: 10px 20px;
    border: 1px solid var(--theme-secondary);
    color: black;
    text-decoration: none;
}

.pagination a:hover {
    background-color: var(--theme-secondary);
}

/* End of Pagination */

/* --------------------------------------------------------MEDIA QUERIES--------------------------------------------------------- */

@media (width<576px) {

    /* Head */
    .select-head {
        margin: 10px 0;
    }

    .head-list {
        margin: 0px 20px;
    }

    /* End of head */
    /* Product list */
    .row {
        flex-direction: column;
    }

    .col-4 img {
        height: 400px;
    }

    /* End of product list */
    /* Pagination */
    .next-page {
        margin: 50px 0;
        padding-top: 30px;
    }

    .pagination {
        margin-left: 25px;
    }

    /* End of Pagination */

}